.Column.AttachedColumn
  padding-right 0 !important
  padding-left 0 !important
.EmailForm
  .Button
    border-radius 0
    box-shadow none
    background #18c954
    border-left 0
    border 3px solid #18c954!important
    color white
    transition all 0.5s
    &:active, &:hover, &:focus
      background #27e567
      color white
      border 3px solid #27e567!important
  input
    border-radius 0!important
    background red
    box-shadow none
    border 3px solid #18c954!important
    font-weight bold!important
    font-family 'Titillium Web', sans-serif!important
  .Input.NotValidInput input
    transition all 1s
    color orange!important
  .InspirationHolder
    padding-bottom 0!important



