.PostAJob
  margin-bottom 15vh

  .free-or-paid
    margin 5vh 0 10vh
    .ui.segment
      transition box-shadow .3s
      cursor pointer
      &:hover
        box-shadow 0px 4px 15px 0 rgba(34,36,38,.15)
